* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

img {
    max-width: 100%
}

.pointer{
    cursor: pointer;
    user-select: none;
}

.seleccion{
    user-select: none;
}

*:focus{
    outline: none !important;
}

ul, ul li, ol li{
    list-style: none;
}

button:hover, a:hover{
    cursor: pointer;
}

.modal {
    z-index: 99999999999999;
}

.swal2-popup.swal2-modal.swal2-show {
    font-size: 1.6rem;
}

.swal2-container.swal2-center.swal2-fade.swal2-shown,
.swal2-container.swal2-top-end.swal2-fade.swal2-shown {
    z-index: 9999999999999999;
}

.alert.alert-info {
    border-radius: 15px;
    font-size: 1.6rem;
    max-width: 900px;
    margin: 2rem auto;
}

.item img:hover,
.item h3:hover,
.item h4:hover {
    cursor: pointer;
    background-color: white;
    opacity: 0.6;
    transition: all 0.5s ease;
}

.item img.no-hover:hover,
.item h3.no-hover:hover,
.item h4.no-hover:hover {
    cursor: pointer;
    background-color: transparent;
    transition: all 0.5s ease;
}

.btn-none {
    border: 0;
    background-color: transparent;
    outline: none;
    color: white;
}

.texto-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.wrap-table100 {
    h3 {
        font-size: 5rem;
        padding-bottom: 5rem;
        font-weight: bold;
        margin: 0 auto;
        text-align: center;
    }
}

#map {
    height: 100%;
    margin: 2rem auto 0;
}

.modal_espera_contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background: #fff;
    border-radius: 20px;
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    min-width: 20%;
}

#modalEspera {
    z-index: 99999999999999999999999999999999999999999;
}

.custom-input-class::-webkit-input-placeholder {
    opacity: 0.5 !important;
}

#contenedor_imagenes_editar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;

    .img-item-editar {
        position: relative;
        max-height: 200px;
        min-height: 200px;
        width: 44%;
        margin: 2rem 3%;

        button {
            position: absolute;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            right: 0;
            transform: translate(30%, -30%);
            background-color: red;
            color: white;
            width: 25px;
            height: 25px;
            font-size: 16px;
        }

        img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
            min-height: 200px;
            max-height: 200px;
            border-radius: 20px;
        }
    }
}

.swal2-container.swal2-center.swal2-backdrop-show {
    z-index: 9999999999999999999999999;
}